<div class="commentData">


  <th>
    <button type="button" class="close" data-id={{_id}} aria-label="Close">
      <span  aria-hidden="true">&times;</span>
    </button>
    {{body}}
  </th>


</div>